body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-body {
    height: 600px;
    width: 350px;
    border: 2px dashed black;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    border: 3px solid gray;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 150px;
    width: 300px;
}

.display-one {
    height: 50px;
    width: 290px;
    border: 2px dashed white;
}

.display-two {
    height: 80px;
    width: 290px;
    border: 2px dashed white;
}


.button {
    border-radius: 50%;
    background: #333333;
    width: 70px;
    height: 70px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.larger-buttons {
    display: flex;
    align-items: center;
    width: 300px;
    height: 70px;
    gap: 10px;
    border-color: black;
}

.larger {
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.button-area {
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 10px;
    padding: 0;
}


.btn-1,
.btn-2,
.btn-3 {
    background: gray;
    color: black;
}
.btn-4,
.btn-8,
.btn-12,
.btn-16 {
    background: orange;
}

.btn-17 {
    width: 150px;
    height: 70px;
    background-color: #333333;
    border-radius: 40px;
}

.btn-18,
.btn-19 {
    background: #333333;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
